body {
    background: #313338;
    color: #ffffff;
}

nav {
    background: #2b2d31 !important;
}

.brand-logo {
    margin-left: 20px;
}

.nav-wrapper ul li a {
    color: #b5bac1 !important;
}

.nav-wrapper ul li a:hover {
    color: #4FC3F7 !important;
}

.container {
    margin-top: 30px;
}

.card {
    background: #383a40;
    border-radius: 10px;
}

.card-content {
    color: #b5bac1;
}

.card-title {
    color: #ffffff !important;
}

h1 {
    text-align: center;
    margin-top: 30px;
}

.highlight {
    color: #4FC3F7;
}

.lista-topicos {
    list-style: none;
    padding-left: 0;
}

.lista-topicos li {
    margin-bottom: 12px;
    font-size: 16px;
    position: relative;
    padding-left: 20px;
}

.lista-topicos li::before {
    content: "•";
    position: absolute;
    left: 0;
    color: #4FC3F7;
    font-size: 22px;
}

.highlight-esp {
    color: #4FC3F7;
    font-weight: 500;
}